/*.suo
/NotificationEngine/bin
/NotificationEngine/obj
/ReferenceNotificationImplementation/bin
/ReferenceNotificationImplementation/obj
/ReferenceConsoleApplication/bin
/ReferenceConsoleApplication/obj
